@model List<SkillGetCategoryListDto>

<div class="skills section second" id="skills">
    <div class="container">
        <h1>Technical<br>Skills</h1>
        @foreach (var skill in Model)
        {
            <ul class="skill-list list-flat">
                <li>@skill.Name</li>
                <li>@skill.Skills</li>
            </ul>
        }



        @*                      ESKİ YÖNTEM                       *@
        @*    @foreach (var category in Model.Where(x => x.CategoryId != i))
            {
            i = 0;
            <ul class="skill-list list-flat">
            <li>@category.Name</li>
            <li>
            @foreach (var skill in Model.Where(x => x.SkillCategoryId == category.CategoryId))
            {
            @skill.Description <text> / </text>
            i = skill.SkillCategoryId;
            }
            </li>
            </ul>
            }*@
    </div>
</div>