<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<p>Handcrafted by Afnizar Nur Ghifari</p>
			    </div>
			    
					<getIcons user-id="3"></getIcons>			

			</div>
		</div>
	</footer>